/*Color Bleu : #0065FC
  Color Light Blue : #DEEBFF
  Color Grey : #F2F2F2
*/
body {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  max-width: 1440px;
  margin: auto;
}
h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
}
h2 {
  font-weight: 900;
  font-size: 1.5rem;
}
h3 {
  font-weight: bold;
  font-size: 1.1rem;
}
b {
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
  height: 100px;
}
@media (max-width: 575.98px) {
  .navbar {
    flex-wrap: wrap;
    padding: 1rem 0;
  }
}
.logo {
  cursor: pointer;
  margin-right: auto;
}
@media (max-width: 575.98px) {
  .logo {
    padding-left: 1.5rem;
  }
}
.logo img {
  height: auto;
  width: 100px;
}
.menu {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 30px;
}
@media (max-width: 575.98px) {
  .menu {
    order: 3;
    height: 3rem;
    width: 100%;
    padding: unset;
  }
}
.menu li {
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 5px solid transparent;
  padding: 0 30px;
}
@media (max-width: 575.98px) {
  .menu li {
    border-top: none;
    border-bottom: 5px solid #f2f2f2;
    width: 100%;
    justify-content: center;
  }
}
.menu li a {
  text-decoration: none;
  color: grey;
}
.menu li:hover {
  border-color: #0065fc;
}
.menu li:hover a {
  color: #0065fc;
}
.nav-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0065fc;
  padding-right: 30px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1.5rem;
}
.titre-des {
  margin-bottom: 30px;
}
.search-bar {
  display: flex;
  width: fit-content;
  margin-bottom: 30px;
}
.search-icn {
  background-color: #f2f2f2;
  padding: 1rem 1.25rem;
  border-radius: 1rem 0 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar_input {
  border: 2px #f2f2f2;
  border-style: solid none;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  font-family: "Raleway", sans-serif;
}
@media (max-width: 992px) {
  .search-bar_input {
    padding: 0 1rem;
  }
}
.search-btn {
  background-color: #0065fc;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 0 10px 10px 0;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.search-btn i {
  display: none;
}
@media (max-width: 575.98px) {
  .search-btn {
    border-radius: 10px;
    padding: 1rem 1.25rem;
    margin-left: -10px;
  }
  .search-btn span {
    display: none;
  }
  .search-btn i {
    display: block;
  }
}
.filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 30px;
}
.filtre h2 {
  margin: 0 20px 10px 0;
}
.filtre-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.filtre-btn {
  display: flex;
  height: 50px;
  align-items: center;
  border: lightgrey solid 2px;
  border-radius: 60px;
  margin-right: 30px;
}
@media (max-width: 992px) {
  .filtre-btn {
    margin-bottom: 1rem;
  }
}
@media (max-width: 575.98px) {
  .filtre-btn {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
  }
}
.fltr-icn {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 3.3rem;
  height: 3.3rem;
  width: 3.3rem;
  margin-left: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}
.flname {
  margin: 0 0.8rem 0 0.6rem;
}
.info {
  display: flex;
  align-items: center;
}
.fa-info {
  display: flex;
  color: #0065fc;
  border: lightgray solid 2px;
  border-radius: 50px;
  height: 20px;
  width: 20px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 575.98px) {
  .fa-info {
    width: 30px;
  }
}
.ham {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
@media (max-width: 1200px) {
  .ham {
    flex-wrap: wrap;
  }
}
@media (max-width: 575.98px) {
  .ham {
    flex-wrap: wrap;
    padding: unset;
    width: 100%;
  }
}
.hebergement {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 25px;
  margin-right: 30px;
  padding: 30px;
}
@media (max-width: 1200px) {
  .hebergement {
    order: 2;
    margin-right: unset;
  }
}
@media (max-width: 575.98px) {
  .hebergement {
    background-color: unset;
    order: 2;
    margin-right: unset;
  }
}
.hebergement h2 {
  margin-bottom: 20px;
}
.hebergement a {
  text-decoration: none;
  color: black;
  font-weight: 900;
  font-size: 1rem;
}
.hbrgm_buble {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
.hbrgm_buble h3 {
  margin-bottom: 10px;
}
.hbrgm {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: auto;
  border: white 5px solid;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 30px;
  box-shadow: 0px 0px 15px lightgrey;
}
@media (max-width: 850px) {
  .hbrgm {
    width: 45%;
  }
}
@media (max-width: 575.98px) {
  .hbrgm {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.hbrgm-pic {
  object-fit: cover;
  height: 100px;
  width: auto;
  border-radius: 25px 25px 0 0;
}
.hbrgm-dsc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.hbrgm-dsc div {
  display: flex;
  margin-top: 10px;
}
.star-blue {
  color: #0065fc;
}
.star-gray {
  color: #deebff;
}
.populaire {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  border-radius: 25px;
  padding: 30px;
}
@media (max-width: 1200px) {
  .populaire {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media (max-width: 575.98px) {
  .populaire {
    border-radius: unset;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: initial;
  }
}
.ppl-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.ppl-titre i {
  font-size: 1.5rem;
}
.ppl_buble {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .ppl_buble {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 992px) {
  .ppl_buble {
    flex-wrap: wrap;
  }
}
.ppl_buble h3 {
  margin-bottom: 10px;
}
.ppl {
  box-sizing: border-box;
  display: flex;
  border: white 5px solid;
  border-radius: 25px;
  background-color: white;
  margin-bottom: 20px;
  width: 21rem;
  height: 144px;
  box-shadow: 0px 0px 15px lightgrey;
}
@media (max-width: 1200px) {
  .ppl {
    margin-right: 1rem;
  }
}
@media (max-width: 992px) {
  .ppl {
    flex-grow: 1;
  }
}
@media (max-width: 575.98px) {
  .ppl {
    width: 100%;
    margin-right: unset;
  }
}
.ppl-pic {
  object-fit: cover;
  height: 100%;
  width: 100px;
  border-radius: 25px 0px 0 25px;
}
.ppl-dsc {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.ppl-dsc div {
  display: flex;
  justify-content: baseline;
  margin-top: auto;
}
.activite-titre {
  padding: 30px;
}
.activite {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px;
  height: 446px;
  margin-bottom: 50px;
  gap: 1.5rem;
}
@media (max-width: 1200px) {
  .activite {
    flex-wrap: wrap;
    height: unset;
  }
}
@media (max-width: 575.98px) {
  .activite {
    gap: unset;
    margin-bottom: 1.25rem;
  }
}
.activite h3 {
  display: flex;
  align-items: center;
  flex: 1;
  padding: 0 20px;
}
.activite-a {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 303px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px lightgrey;
}
@media (max-width: 1250px) {
  .activite-a {
    width: 240px;
  }
}
@media (max-width: 1100px) {
  .activite-a {
    width: 45%;
    height: 200px;
  }
}
@media (max-width: 575.98px) {
  .activite-a {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 200px;
  }
}
.activite-b {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 303px;
}
@media (max-width: 1250px) {
  .activite-b {
    width: 240px;
    gap: 1.5rem;
  }
}
@media (max-width: 1100px) {
  .activite-b {
    order: 2;
    width: 45%;
    gap: unset;
  }
}
@media (max-width: 575.98px) {
  .activite-b {
    order: unset;
    width: 100%;
    gap: unset;
  }
}
.activite-medium {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-height: 240px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px lightgrey;
}
.activite-b #lagarde {
  height: 195px;
}
@media (max-width: 1100px) {
  .activite-b #lagarde {
    height: 200px;
  }
}
.activite-b #longchamp {
  height: 210px;
}
@media (max-width: 1100px) {
  .activite-b #longchamp {
    height: 200px;
  }
}
@media (max-width: 1100px) {
  .activite-medium {
    margin-bottom: 1.5rem;
    height: 200px;
  }
}
@media (max-width: 575.98px) {
  .activite-medium {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 200px;
  }
}
.activite-small {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 163px;
  border-radius: 25px;
  background-color: white;
  box-shadow: 0px 0px 15px lightgrey;
}
@media (max-width: 1100px) {
  .activite-small {
    margin-bottom: 1.5rem;
    height: 200px;
  }
}
@media (max-width: 575.98px) {
  .activite-small {
    margin-bottom: 1.5rem;
    width: 100%;
    height: 200px;
  }
}
.activite-pic {
  object-fit: cover;
  border-radius: 25px 25px 0 0;
  height: 100%;
}
.activite-small img {
  max-height: 70%;
}
@media (max-width: 1100px) {
  .activite-small img {
    max-height: 80%;
  }
}
.activite-a img {
  max-height: 90%;
}
@media (max-width: 1100px) {
  .activite-a img {
    max-height: 80%;
  }
}
.activite-medium img {
  max-height: 80%;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f2f2f2;
  padding: 30px;
}
@media (max-width: 768px) {
  .footer {
    flex-wrap: wrap;
  }
}
.apropos {
  display: flex;
  flex-direction: column;
  width: 33%;
}
@media (max-width: 768px) {
  .apropos {
    margin-right: unset;
    margin-bottom: 1.25rem;
  }
}
.footer h3 {
  margin-bottom: 30px;
}
.footer li {
  margin-bottom: 20px;
}
.footer a {
  text-decoration: none;
  color: black;
}
.noshebergements {
  display: flex;
  flex-direction: column;
  width: 33%;
}
@media (max-width: 768px) {
  .noshebergements {
    margin-right: unset;
    margin-bottom: 1.25rem;
    width: 100%;
  }
}
.assistance {
  display: flex;
  flex-direction: column;
  width: 33%;
}
@media (max-width: 768px) {
  .assistance {
    margin-right: unset;
    margin-bottom: 1.25rem;
  }
}
