/*Color Bleu : #0065FC
  Color Light Blue : #DEEBFF
  Color Grey : #F2F2F2
*/
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.navbar {
  display: flex;
}

.description {
  display: block;
}

.search-bar {
  border: 2px solid lightgrey;
  border-radius: 50px;
  display: flex;
  width: fit-content;
}

.filtre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}

.filtre-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.filtre-btn {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  border: gray solid 2px;
  border-radius: 60px;
}
.fltr-icn {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  height: 3.25rem;
  width: 3.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flname {
  margin: 0 1rem 0 1rem;
}
.info {
  display: flex;
  flex-direction: row;
}
